.bookDelete{

    border: unset;
    background-color:unset;
    /* position:relative; */
    top: 10px;
    left: 19em;
    position: absolute;
}

.bookedit{

    margin-top: 2em;
    margin-left: 7em;


}

.bookcompra{
    /* width: 110px; */
    display: inline-flex;

}

.bookbuttomedit{
    
    margin-top: 100em;

}